<template>
  <div class="bg-dark text-gray-800  h-screen">

    <div class="w-5/6 mx-auto bg-light dark:bg-dark dark:text-light rounded-lg">
      <NavigationBar/>

      <div class="mt-10 shadow-lg h-full pb-12 px-4">
        <slot></slot>
      </div>

    </div>
  </div>
</template>

<script setup lang="js">

import NavigationBar from "@/main/js/Pages/nav/NavigationBar.vue";
</script>


<style scoped>

</style>