<template>

  <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 text-xl gap-4 content-center
     h-56 tracking-wide">

    <div class="w-full mx-auto align-middle">
      <span class="text-2xl md:text-4xl font-bold">
        What about to run your Vue frontend within a Spring Boot application
      </span>
    </div>
    <div class="w-full mx-auto align-middle">
      With this integration example, you can call your Vue.js components
      directly from your Spring Boot application Controllers!
      <br>
      There is no need to run a separate frontend server
    </div>


  </div>

</template>

<script setup lang="ts">

</script>


<style scoped>

</style>