
<template>

  <nav class="text-white flex flex-col lg:flex-row align-middle justify-center text-center
   py-4 gap-y-4 bg-gradient-to-r from-dark-300 to-dark-400 rounded-lg shadow-lg">
    <InertiaButton :name="'Home'" :href="'/'"></InertiaButton>
    <InertiaButton :name="'About'" :href="'/about'"></InertiaButton>
  </nav>


</template>

<script setup lang="ts">

import InertiaButton from "@/main/js/Pages/components/buttons/InertiaButton.vue";
</script>


<style scoped>

</style>