<template>
  <BaseLayout>

    <h1 class="text-3xl"> About</h1>

  </BaseLayout>
</template>

<script setup lang="ts">
import {onMounted, ref} from "vue";
import BaseLayout from "@/main/js/Pages/layout/BaseLayout.vue";
const props = defineProps<{
  name: Object
}>()

onMounted(() => {

});



</script>

<style scoped>

</style>