<template>
  <BaseLayout>


      Hello, {{ props.name }} !
      <h1 class="text-3xl">
        Spring + Inertia.js + Tailwind CSS + Vite + Vue.js!!
      </h1>

      <HomeCard />



  </BaseLayout>


</template>

<script setup lang="js">
import BaseLayout from "@/main/js/Pages/layout/BaseLayout.vue";
import HomeCard from "@/main/js/Pages/components/cards/HomeCard.vue";

const props = defineProps({
  name: Object // a
})
</script>


<style scoped>
h1 {
  color: #ff0000;
}
</style>
