<template>
  <inertia-link class="text-lg mx-2 px-5 py-1.5 bg-secondary-muted/20 rounded shadow-lg hover:bg-primary-muted/40
  transition-colors duration-300 ease-in-out hover:text-white border-s border-b border-accent/20 hover:border-s-light/50 hover:border-b-light/20"
                :href="props.href"> {{ props.name }}
  </inertia-link>
</template>

<script setup lang="ts">
const props = defineProps<{
  name: Object,
  href: Object
}>()

</script>


<style scoped>

</style>